<div class="b-posts">
	<div class="b-posts__inner">
		<div class="b-posts__header">
			<h3 class="b-posts__title">Latest Posts</h3>
			<div class="b-posts__desc">
				Latest Posts From Blog
			</div>
		</div>
		<div class="b-posts__content">
			<div class="b-posts-list">
				{% for post in site.posts | limit: 5 %}
				<div class="b-posts-list__item">
					<div class="b-post clearfix">
						<div class="b-post__media {% cycle a '', 'is-reversed' %}">
							<a href="{{post.url}}" class="b-post__img-link">
								<img src="img/{{post.image | prepend: site.baseurl}}" alt="{{post.title}}" class="b-post__img" />
							</a>
							<div class="b-post__date">
								<span class="b-post__date-text b-post__date_year">{{post.date | date: '%Y'}}</span>
								<span class="b-post__date-text b-post__date_month">{{post.date | date: '%b'}}</span>
								<span class="b-post__date-text b-post__date_day">{{post.date | date: '%d'}}</span>
							</div>
						</div>
						<div class="b-post__info {% cycle b '', 'is-reversed' %}">
							<h4 class="b-post__title"><a href="{{post.url}}">{{post.title}}</a></h4>

							<div class="b-post__desc">{{post.excerpt}}</div>
							<a href="{{post.url}}" class="b-post__link button"> 
								<span class="button__text">Read More </span> 
								<span class="button__icon">→</span> 
							</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="b-posts__footer">
			<a href="/blog" class="b-post__all button button_big">  
				<i class="fa fa-list-ul"></i> 
				<span class="button__text">See full list of articles </span> 
				<span class="button__icon">→</span> 
			</a>
		</div>
	</div>
</div>