<div class="b-posts">
	<div class="b-posts__inner">
		<div class="b-posts__header">
			<h3 class="b-posts__title">Latest Posts</h3>
			<div class="b-posts__desc">
				Latest Posts From Blog
			</div>
		</div>
		<div class="b-posts__content">
			<div class="b-posts-list">
				{% for post in site.posts %}
				<div class="b-posts-list__item">
					<div class="b-post clearfix">
						<div class="b-post__media {% cycle a '', 'is-reversed' %}">
							<a href="{{post.url}}" class="b-post__img-link">
								<img src="img/{{post.image | prepend: site.baseurl}}" alt="{{post.title}}" class="b-post__img" />
							</a>
						</div>
						<div class="b-post__info {% cycle b '', 'is-reversed' %}">
							<h4 class="b-post__title">{{post.title}}</h4>
							<div class="b-post__date">
								<span class="b-post__date-text">{{post.date | date: '%Y'}}</span>
								<span class="b-post__date-text">{{post.date | date: '%b'}}</span>
								<span class="b-post__date-text">{{post.date | date: '%d'}}</span>
								
							</div>
							<div class="b-post__desc">{{post.excerpt}}</div>
							<a href="{{post.url}}" class="b-post__link">→ </a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="b-posts__footer"></div>
	</div>
</div>